github "raysarebest/MultiSelectSegmentedControl" "framework" # Change this back to yonat once they accept my PR
github "raysarebest/TagListView" "raysarebest-develop" # Change this back to ElaWorkshop once they accept my PRs
github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "SwiftyJSON/Alamofire-SwiftyJSON" "master"
